h1{
 color: aqua;
 text-align: center;
 border: 10px groove blue;
 width: fit-content;

}
body{
    background-color: black;
   
}

div{
    border: 10px solid blue;
    width: 250px;
    height: 250px;
    background-color: greenyellow;
    padding: 5px;
    margin: 5px;

}
#a{

}